<div class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-end">
                <img src="images/img_transparent.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-7 align-self-center mb-5">

                <div class="bg-black  quote-form-wrap wrap text-white">
                    <div class="mb-5">
                        <h3 class="section-subtitle">Get A Quote</h3>
                        <h2 class="section-title mb-4">Request A <strong>Quote</strong></h2>
                    </div>
                    <form action="#" class="quote-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" placeholder="Your name*">
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" placeholder="Phone number">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" placeholder="Your email*">
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                    <textarea name="" class="form-control" id="" placeholder="Message*" cols="30"
                                              rows="7"></textarea>
                            </div>
                            <div class="col-md-6 align-self-end">
                                <input type="submit" class="btn btn-primary btn-block btn-lg rounded-0"
                                       value="Send Message">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>