<div class="site-section block-3">
    {% for recent_project in recent_projects %}
        <div class="container">

            <div class="mb-5">
                <h3 class="section-subtitle">{{ recent_project.title }}</h3>
                <h2 class="section-title mb-4">{{ recent_project.sub_title }}</h2>
            </div>

            <div class="projects-carousel-wrap">
                <div class="owl-carousel owl-slide-3">
                    {% for project in recent_project.projects.all %}
                        <div class="project-item">
                            <div class="project-item-contents">
                                <a href="#">
                                    <span class="project-item-category">{{ project.title }}</span>
                                    <h2 class="project-item-title">
                                        {% for type in project.type.all %}
                                            {% if forloop.counter is not 1 %}
                                                , {{ type }}
                                            {% else %}
                                                {{ type }}
                                            {% endif %}
                                        {% endfor %}

                                    </h2>
                                </a>
                            </div>
                            <img src="{{ project.image.url }}" alt="Image" class="img-fluid">
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    {% endfor %}
</div>