<div class="hero-slide owl-carousel site-blocks-cover">
    {% for slider in sliders %}
        <div
                class="{% if slider.show_title %}
                dark-overlay
                {% endif %} intro-section"
                style="background-image: url('{{ slider.bg.url }}');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 mx-auto text-center text-capitalize" data-aos="fade-up">
                        {% if slider.show_title %}
                            <h1>{{ slider.title }}</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<!-- END slider -->