{% load icon_class_changer %}
{% for section in what_we_do_sections %}
    <div class="site-section services-1-wrap">

        <div class="container">
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-5">
                    <h3 class="section-subtitle">{{ section.title }}</h3>
                    <h2 class="section-title mb-4 text-black">{{ section.sub_title }}</h2>
                </div>
            </div>
            <div class="row no-gutters">
                {% for card in section.cards.all %}
                    <div class="col-lg-3 col-md-6">
                        <div class="service-1">
                            <span class="number">{{ forloop.counter }}</span>
                            <div class="service-1-icon">
                                <span>{{ card.icon.icon_type.html_tag | translate_icon:card.icon.class_name | safe }}</span>
                            </div>
                            <div class="service-1-content">
                                <h3 class="service-heading">{{ card.title | safe }}</h3>
                                <p>{{ card.sub_title | default_if_none:'' }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endfor %}
<!-- END services -->