<style>
    .sticky-wrapper .site-navbar,
    .hero-slide .owl-dots .owl-dot.active > span,
    .owl-slide-3 .owl-dots .owl-dot.active > span, .owl-slide .owl-dots .owl-dot.active > span {
        background: {{ company.color1 }};
    }

    .text-primary,
    .site-mobile-menu .site-nav-wrap li.active > a,
    .section-subtitle,
    a,
    a:hover,
    a:active,
    .footer a:hover {
        color: {{ company.color1 }};
    }

    .services-1-wrap .service-1 .service-1-icon:before {
        border-right: 40px solid{{ company.color1 }};
    }

    .footer .footer-heading > span {
        border-bottom: 2px solid {{ company.color1 }}
    }
</style>