{% for team_section in our_team_sections %}
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 mb-5 text-center">
                    <h3 class="section-subtitle">{{ team_section.title }}</h3>
                    <h2 class="section-title text-black mb-4">{{ team_section.sub_title }}</h2>
                </div>
            </div>

            <div class="row">
                {% for member in team_section.members.all %}
                    <div class="col-lg-3 col-md-6 mb-lg-0" data-toggle="modal" data-target="#PersonDetails{{ member.id }}Modal">
                        <div class="person">
                            <figure>
                                <img src="{{ member.profile_picture.url }}" alt="Image" class="img-fluid">
                                <div class="social">
                                    {% for link in member.links.all %}
                                        <a href="{{ link.link }}" target="_blank"><span
                                                class="{{ link.site.icon_class_name }}"></span></a>
                                    {% endfor %}
                                </div>
                            </figure>
                            <div class="person-contents">
                                <h3>{{ member.name }}</h3>
                                <span class="position">{{ member.primary_role }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="PersonDetails{{ member.id }}Modal" tabindex="-1" role="dialog"
                         aria-labelledby="PersonDetails{{ member.id }}Modal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ member.name }} - <em class="text-black-opacity-05">{{ member.primary_role }}</em></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-4"><img src="{{ member.profile_picture.url }}" alt="Image" class="img-fluid"></div>
                                        <div class="col-8 text-justify">{{ member.bio|default_if_none:''|safe}}</div>
                                    </div>
                                </div>
{#                                <div class="modal-footer">#}
{#                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                                    <button type="button" class="btn btn-primary">Save changes</button>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
